In [1]:
'''
This file is used to clean the data and save the cleaned data into a csv file after the EDA process.
Removal of stop words, punctuations, numbers, and special characters.
'''

import pandas as pd
import re
from collections import Counter
import nltk
# remove stop words using nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vedaantibaliga/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# Data was extracted on April 29, 2023
df = pd.read_csv("ExportedTransactions.csv")

In [3]:
df.head()

,Transaction ID,Posting Date,Effective Date,Transaction Type,Amount,Check Number,Reference Number,Description,Transaction Category,Type,Balance,Memo,Extended Description
0,"20230429 84325 2,454 311,395",4/29/2023,4/29/2023,Credit,24.54,NaN,49460999,Withdrawal Adjustment Debit Card Credit Vo VEN...,NaN,Card,100.70,NaN,Withdrawal Adjustment Debit Card Credit Vo VEN...
1,"20230428 84325 2,048 463,958",4/28/2023,4/28/2023,Debit,-20.48,NaN,49460998,Withdrawal POS # POS TRADER JO TRADER JOES LOS...,NaN,POS,76.16,NaN,Withdrawal POS # POS TRADER JO TRADER JOES LOS...
2,"20230428 84325 6,000 463,870",4/28/2023,4/28/2023,Credit,60.00,NaN,49433161,Deposit Online Banking Transfer From Share,Transfer,NaN,96.64,NaN,Deposit Online Banking Transfer From Share
3,"20230426 84325 1,178 339,604",4/26/2023,4/26/2023,Debit,-11.78,NaN,49372695,Withdrawal Debit Card Debit Card DD DOORDAS...,NaN,Card,36.64,NaN,Withdrawal Debit Card Debit Card DD DOORDAS...
4,"20230425 84325 599 450,226",4/25/2023,4/25/2023,Debit,-5.99,NaN,49372694,Withdrawal POS # POS TRADER JO TRADER JOES ...,NaN,POS,48.42,NaN,Withdrawal POS # POS TRADER JO TRADER JOES ...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875 entries, 0 to 874
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction ID        875 non-null    object
 1   Posting Date          875 non-null    object
 2   Effective Date        875 non-null    object
 3   Transaction Type      875 non-null    object
 4   Amount                875 non-null    float64
 5   Check Number          0 non-null      float64
 6   Reference Number      875 non-null    int64
 7   Description           875 non-null    object
 8   Transaction Category  305 non-null    object
 9   Type                  865 non-null    object
 10  Balance               875 non-null    float64
 11  Memo                  0 non-null      float64
 12  Extended Description  875 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 89.0+ KB

In [5]:
# drop rows with "Description" having the word "libre" (removing fradulent transactions)
df = df.drop(df[df['Description'].str.contains("libre", case=False)].index)
df.reset_index(drop=True, inplace=True)

In [6]:
features_not_needed = ['Transaction ID','Effective Date','Check Number','Reference Number','Type','Memo','Extended Description','Balance']
df = df.drop(features_not_needed,axis=1)
# Convert 'Transaction Category' to type category
df['Transaction Category'] = df['Transaction Category'].astype('category')
# Remove transactions with Credit
df = df[df['Transaction Type'] == 'Debit']
df.reset_index(drop=True, inplace=True)

In [7]:
df.shape

(696, 5)

In [8]:
df['Transaction Category'].value_counts()

Shopping             103
Food & Dining         33
Transfer              10
Personal Care          3
Auto & Transport       1
Business Services      1
Health & Fitness       1
Name: Transaction Category, dtype: int64

In [9]:
df.loc[df['Transaction Category'] == 'Transfer']

,Posting Date,Transaction Type,Amount,Description,Transaction Category
129,1/19/2023,Debit,-120.00,Withdrawal Home Banking Transfer To Share,Transfer
137,1/7/2023,Debit,-118.00,Withdrawal Home Banking Transfer To Share,Transfer
156,11/23/2022,Debit,-2500.00,Withdrawal Home Banking Transfer To Share,Transfer
279,9/12/2022,Debit,-30.00,"Withdrawal Transfer 0025 To CHANDE,VYOMI 04...",Transfer
301,8/23/2022,Debit,-8536.00,Withdrawal Home Banking Transfer To Share,Transfer
313,8/18/2022,Debit,-20200.00,Withdrawal Home Banking Transfer To Share,Transfer
344,7/27/2022,Debit,-20.00,"Withdrawal Transfer 0025 To JOSHI,SAWANEE 6...",Transfer
417,6/5/2022,Debit,-1200.00,Withdrawal Home Banking Transfer To Share,Transfer
523,3/13/2022,Debit,-10200.00,Withdrawal Home Banking Transfer To Share,Transfer
602,12/4/2021,Debit,-16.82,"Withdrawal Transfer 0025 To BANDI,SAIRAM 30...",Transfer

In [10]:
# Remove transactions with "Transfer", we don't need it
df = df[df['Transaction Category'] != 'Transfer']
# Rename some of the categories
df["Transaction Category"] = df["Transaction Category"].cat.rename_categories({"Shopping" : "Shopping & Groceries"})
df["Transaction Category"] = df["Transaction Category"].cat.rename_categories({"Auto & Transport" : "Transportation"})
df["Transaction Category"] = df["Transaction Category"].cat.rename_categories({"Personal Care" : "Recreation"})

In [11]:
# Do a word count for all the words in df['Description']
def word_count(text):
    words_list = []
    for sentence in text:
        words_list += sentence.split()

    word_counts = Counter(words_list)
    # sort the dictionary by value
    word_counts = sorted(word_counts.items(), key=lambda x: x[1], reverse=True)
    word_counts_dict = dict(word_counts)
    return word_counts_dict

In [12]:
word_count(df['Description']) # same as the barplot in EDA

{'Debit': 782,
 'Card': 782,
 'Withdrawal': 686,
 'POS': 520,
 'Date': 391,
 'LOS': 253,
 'CA': 244,
 'ANGELES': 218,
 'ST': 207,
 'S': 181,
 '#': 178,
 '3131': 159,
 'TRADER': 136,
 'VENMO': 136,
 'HOOVER': 133,
 'STREET': 101,
 '5812': 91,
 'TARGET': 90,
 'STORE': 80,
 'SOUTH': 77,
 'STE': 75,
 'NY': 72,
 '117': 71,
 'BARROW': 71,
 '4829': 71,
 "JOE'S": 70,
 '#250': 70,
 '4430': 67,
 'T32': 66,
 '19': 58,
 '5814': 56,
 'AVE': 43,
 '4121': 43,
 'W': 43,
 'OF': 42,
 'PARKWAY': 42,
 'UNIV': 41,
 'SO': 41,
 'CAL': 41,
 '7700': 40,
 'EASTPORT': 40,
 'JOES': 34,
 'FIGUEROA': 34,
 'JO': 33,
 'Los': 33,
 '303': 32,
 '*UBER': 31,
 'DD': 27,
 'DOORDASH': 27,
 '2ND': 27,
 'VERMONT': 26,
 'USC': 26,
 'MOBILE': 26,
 'SEATTLE': 25,
 'WA': 25,
 'RALPHS': 24,
 '2600': 24,
 'Angeles': 24,
 '0001': 23,
 'ACH': 22,
 'TYPE:': 22,
 'CO:': 22,
 '5411': 21,
 'WASH': 21,
 'KIOSK': 21,
 '7211': 21,
 '222': 21,
 'MERCHANDSE': 21,
 'MRT': 21,
 'PL': 21,
 'Hoover': 21,
 'PAYMENT': 20,
 '#0294': 20,
 'SAN': 20,
 "DOMINO'S": 19,
 '888-437-34': 19,
 'SQ': 19,
 '7801': 18,
 '2803': 18,
 'BLVD': 18,
 '85581244': 17,
 '2200': 17,
 '195TH': 17,
 'St,': 17,
 'Unit': 17,
 '85597': 16,
 'S.': 15,
 '2': 14,
 'Ave': 14,
 'N': 14,
 '85': 14,
 'JH': 13,
 'BAZAAR': 13,
 'LYFT': 13,
 '8558': 13,
 '09/22/22': 13,
 'HOOVE': 12,
 'ANGEL': 12,
 'NAME:': 12,
 'VEDAANTI': 12,
 'BALIGA': 12,
 '562-663-1': 12,
 'Figueroa': 12,
 'St': 12,
 '185': 12,
 '*DOORDASH': 12,
 '100': 12,
 'WINGSTOP': 12,
 'T3217': 11,
 '855973': 10,
 '*SHEIN': 10,
 '8558124': 10,
 '5621': 10,
 'TST*': 10,
 'BERRY': 10,
 '5000': 10,
 '8': 10,
 'DIEG': 10,
 '1': 10,
 'TROUSDALE': 10,
 '-': 10,
 'RIDE': 9,
 'A': 9,
 'PKWY': 9,
 'UNIVERSAL': 9,
 'AN': 8,
 'Amazon': 8,
 '440': 8,
 'Terry': 8,
 'Amz': 8,
 '5968': 8,
 'C': 8,
 'ATM': 8,
 '09/25/22': 8,
 '3607': 8,
 '855812': 8,
 '*LYFT': 8,
 'LA': 8,
 'PANDAEXPR': 7,
 'US': 7,
 'Subway': 7,
 '3335': 7,
 'DIEGO': 7,
 'INC': 7,
 '04/07/23': 6,
 'L': 6,
 '3096': 6,
 '800': 6,
 '3201': 6,
 'DOLLAR': 6,
 'TR': 6,
 'EATS': 6,
 'GATEWAY': 6,
 'PLZ': 6,
 '4111': 6,
 'HOSPITALITY': 6,
 'RETAIL': 6,
 '12': 5,
 '7832': 5,
 '7996': 5,
 'St.': 5,
 'E': 5,
 'Ticket': 5,
 'Recurring': 5,
 'CAFE': 5,
 '5813': 5,
 'VILLAGE': 5,
 '3148': 5,
 'PICO': 5,
 'Street': 5,
 '05/19/22': 5,
 'METRO': 5,
 'Bill': 5,
 'Payment': 5,
 'BP': 5,
 'AMAZON.COM': 5,
 '12/17/21': 5,
 '3434': 4,
 'GRAND': 4,
 'CINEMAS': 4,
 '8220': 4,
 '101': 4,
 '#0': 4,
 'VERM': 4,
 'at': 4,
 'CREDIT': 4,
 'UNION': 4,
 'FL': 4,
 'REGAL': 4,
 '10/06/22': 4,
 '7523': 4,
 '09/26/22': 4,
 'ANG': 4,
 'OLYMPIC': 4,
 '09/24/22': 4,
 '09/23/22': 4,
 'GATE': 4,
 'USH': 4,
 'CITY': 4,
 'JEFFERSON': 4,
 '317': 4,
 'South': 4,
 'WAY': 4,
 '1490': 4,
 '2805': 4,
 '*DULCE': 4,
 'McClintock': 4,
 'Av': 4,
 '3001': 4,
 '#1268': 4,
 '3584': 4,
 'ST.': 4,
 '06/18/22': 4,
 'TAP': 4,
 'WEB': 4,
 'SAL': 4,
 'MS': 4,
 '99': 4,
 'THE': 4,
 'PACIFIC': 4,
 'COAST': 4,
 'HWY': 4,
 '2nd': 4,
 'StreetSuite': 4,
 'CMSVEND*USC': 3,
 'K1': 3,
 'SPEED': 3,
 'TORRANCE': 3,
 '19038': 3,
 '620': 3,
 '35TH': 3,
 'MCDONALDS': 3,
 'WILSHIRE': 3,
 'DUBAI': 3,
 'PARK': 3,
 '11/10/22': 3,
 '10/28/22': 3,
 'BLOUNT': 3,
 '87': 3,
 '10/01/22': 3,
 'CHEESECAKE': 3,
 'BLAZE': 3,
 'PIZZA': 3,
 'STARBUCKS': 3,
 'CIT': 3,
 'Broadway': 3,
 'FOOD': 3,
 '09/12/22': 3,
 'AND': 3,
 'SANTA': 3,
 '07/13/22': 3,
 'AMERICAN': 3,
 '4333': 3,
 'AMON': 3,
 'CARTER': 3,
 '7300': 3,
 '07/09/22': 3,
 '06/12/22': 3,
 'MINT': 3,
 '1550': 3,
 '4814': 3,
 '04/24/22': 3,
 '02/13/22': 3,
 '48845': 3,
 'An': 3,
 '27023': 3,
 '12/15/21': 3,
 '5499': 3,
 '8558124430': 3,
 '0152': 2,
 'NEW': 2,
 'YORK': 2,
 '04/17/23': 2,
 '04/13/23': 2,
 '6945': 2,
 '04/06/23': 2,
 'LAUNDRY': 2,
 'TORRANC': 2,
 '04/05/23': 2,
 'TROJANS': 2,
 'HOUSING': 2,
 'AP': 2,
 '213-7': 2,
 '8786': 2,
 '03/26/23': 2,
 '03/23/23': 2,
 '03/22/23': 2,
 'Shared': 2,
 'Branch': 2,
 'ZELLE': 2,
 'ADITYA': 2,
 '4': 2,
 '03/13/23': 2,
 '8310': 2,
 '2700': 2,
 '03/12/23': 2,
 '03/11/23': 2,
 'Ste': 2,
 '02/09/23': 2,
 '01/24/23': 2,
 '01/23/23': 2,
 '0106': 2,
 '1187': 2,
 '12/11/22': 2,
 'AIRPORT': 2,
 "INT'L": 2,
 '12/10/22': 2,
 'MCCLINTOCK': 2,
 'APPLE': 2,
 'BROADWAY': 2,
 '11/21/22': 2,
 '11/19/22': 2,
 '9093': 2,
 'SP': 2,
 '5691': 2,
 'BOX': 2,
 '11/13/22': 2,
 'TUE': 2,
 '6PM': 2,
 '10/31/22': 2,
 'TICKET': 2,
 'OFFICE-RETA': 2,
 '3601': 2,
 'SUPERCUTS': 2,
 '3621': 2,
 'Vermont': 2,
 '7230': 2,
 '10/02/22': 2,
 '5022': 2,
 '812': 2,
 'MELROSE': 2,
 '929': 2,
 'Blvd': 2,
 'YARD': 2,
 'HOUSE': 2,
 'NORTHERN': 2,
 '2904': 2,
 'STR': 2,
 'LINK': 2,
 'SCOOTERS': 2,
 '84': 2,
 'Hamilton': 2,
 'CAMBRIDGE': 2,
 'MA': 2,
 '5571': 2,
 'K': 2,
 'CITADEL': 2,
 'DR': 2,
 '5524': 2,
 'ALCOA': 2,
 'VERN': 2,
 'Colorado': 2,
 'PARKING': 2,
 'FIRESTONE': 2,
 '&': 2,
 'INC.': 2,
 '888': 2,
 '*LUCKY': 2,
 'BIRD': 2,
 'TICKETING': 2,
 'ECOMM': 2,
 'MONICA': 2,
 '09/11/22': 2,
 '27025': 2,
 '09/05/22': 2,
 '27024': 2,
 '08/27/22': 2,
 '2966': 2,
 'YOGURTLAND': 2,
 'CA159': 2,
 'ANGE': 2,
 '0111': 2,
 '7109': 2,
 '08/22/22': 2,
 '08/19/22': 2,
 'FEE': 2,
 '08/14/22': 2,
 '08/12/22': 2,
 '25043': 2,
 '08/06/22': 2,
 '07/29/22': 2,
 '07/31/22': 2,
 '#3': 2,
 'LLC': 2,
 '07/03/22': 2,
 '07/02/22': 2,
 '06/25/22': 2,
 '06/20/22': 2,
 'METROLINK': 2,
 'San': 2,
 'Bottega': 2,
 'Louie': 2,
 '700': 2,
 'Grand': 2,
 '06/13/22': 2,
 '06/09/22': 2,
 'RENTALS': 2,
 'Berry': 2,
 'FR': 2,
 '7512': 2,
 '05/20/22': 2,
 '0015': 2,
 '05/16/22': 2,
 '05/15/22': 2,
 '05/12/22': 2,
 '05/09/22': 2,
 'GLENDALE': 2,
 '05/02/22': 2,
 '04/29/22': 2,
 '03/31/22': 2,
 'ROSS': 2,
 'STORES': 2,
 '03/15/22': 2,
 '03/04/22': 2,
 '#162341': 2,
 '02/25/22': 2,
 '02/20/22': 2,
 'ROCK': 2,
 "REILLY'S": 2,
 '02/06/22': 2,
 'Angel': 2,
 '02/02/22': 2,
 '01/30/22': 2,
 'O': 2,
 '01/28/22': 2,
 '01/24/22': 2,
 '12/16/21': 2,
 'GROVE': 2,
 'GRILL': 2,
 '3RD': 2,
 '#160202': 2,
 '11/15/21': 2,
 'Scenic': 2,
 '844-6468746': 2,
 '11/10/21': 2,
 '10/31/21': 2,
 '10/24/21': 2,
 '10/18/21': 2,
 '10/11/21': 2,
 '09/27/21': 2,
 '09/12/21': 2,
 '09/11/21': 2,
 'VERIFYBANK': 2,
 '09/03/21': 2,
 '735': 2,
 '3758': 2,
 '08/28/21': 2,
 '548073': 2,
 '2823': 2,
 '554751': 2,
 '08/11/21': 2,
 'DASHMART': 1,
 '04/25/23': 1,
 '8292': 1,
 '04/22/23': 1,
 '04/23/23': 1,
 '0328': 1,
 '04/21/23': 1,
 '7811': 1,
 '04/19/23': 1,
 '7506': 1,
 '1946': 1,
 '4124': 1,
 'ANGELE': 1,
 '9002': 1,
 '7125': 1,
 'AMAZON.COM*HJ4WP1WQ0': 1,
 'AMAZON.COM*HJ3XI9BC0': 1,
 '04/11/23': 1,
 '6197': 1,
 'AMAZON.COM*HJ9ZG3N31': 1,
 'TORR': 1,
 '9439': 1,
 '7999': 1,
 'PADD': 1,
 '3797': 1,
 '04/08/23': 1,
 '6306': 1,
 'SUPE': 1,
 '0007': 1,
 '7993': 1,
 '6382': 1,
 '*REGAL': 1,
 '4250': 1,
 'DISNEYLAND': 1,
 'TICKETS': 1,
 '1313': 1,
 'HARBOR': 1,
 '7147': 1,
 '1296': 1,
 'USCIS': 1,
 'I-765': 1,
 '111': 1,
 'MASSACHUSETTS': 1,
 '800-375-': 1,
 '7256': 1,
 '9399': 1,
 '9168': 1,
 'CALIFORNI': 1,
 '04/01/23': 1,
 '8483': 1,
 'Prime*HY9OR68L1': 1,
 '03/31/23': 1,
 '4784': 1,
 'HERFF': 1,
 'JONES': 1,
 '4501': 1,
 '62ND': 1,
 '43733': 1,
 '03/30/23': 1,
 '6344': 1,
 '5969': 1,
 '03/29/23': 1,
 '5979': 1,
 '03/27/23': 1,
 '3572': 1,
 'KFC': 1,
 '1040': 1,
 '1415': 1,
 'AMAZON.COM*H74DP8RT1': 1,
 '03/24/23': 1,
 '6264': 1,
 '4801': 1,
 '4649': 1,
 '3602': 1,
 '3264': 1,
 '#834410': 1,
 '5BXCEP3KD': 1,
 '#823800': 1,
 'RBNC3P3KD': 1,
 '03/20/23': 1,
 '6266': 1,
 '03/21/23': 1,
 '6198': 1,
 'AMAZON.COM*H73RP9C51': 1,
 'THEDOLLYL': 1,
 '03/19/23': 1,
 '6773': 1,
 'ANJAPPAR': 1,
 'CHETTINAD': 1,
 'ARTESI': 1,
 '18128': 1,
 'PIONEER': 1,
 'ARTESIA': 1,
 '03/18/23': 1,
 '7416': 1,
 '03/14/23': 1,
 '6800': 1,
 'SULEKHA': 1,
 '13740': 1,
 'BCH': 1,
 'BLDG': 1,
 '512-788-53': 1,
 '7299': 1,
 'Thai': 1,
 'by': 1,
 'Trio': 1,
 '7664': 1,
 '9103': 1,
 '6578': 1,
 '9344': 1,
 '03/09/23': 1,
 '7466': 1,
 'AMAZON.COM*H597H8MM2': 1,
 '03/03/23': 1,
 '0018': 1,
 'Prime*HD8SV4XC2': 1,
 '03/01/23': 1,
 '1189': 1,
 '02/20/23': 1,
 '5430': 1,
 '02/18/23': 1,
 '2765': 1,
 '02/17/23': 1,
 '9436': 1,
 '02/14/23': 1,
 '1034': 1,
 'MON': 1,
 '12AM': 1,
 '02/13/23': 1,
 '8682': 1,
 '02/12/23': 1,
 '8133': 1,
 '*1': 1,
 '02-09': 1,
 '548': 1,
 'Market': 1,
 '6851': 1,
 '02/10/23': 1,
 '8166': 1,
 'IC': 1,
 'DOWNTOW': 1,
 '900': 1,
 '7696': 1,
 '1668': 1,
 'AMAZON.COM*JO3LB5AI3': 1,
 '02/04/23': 1,
 '5132': 1,
 '02/02/23': 1,
 '2104': 1,
 'Prime*I72UL8IP3': 1,
 '01/31/23': 1,
 '4645': 1,
 'AMAZON.COM*XI6K26D03': 1,
 '01/26/23': 1,
 '01/27/23': 1,
 '0454': 1,
 'Prime*FK4AD1IH3': 1,
 '0191': 1,
 '3304': 1,
 'AMAZON.COM*QD62F4Y43': 1,
 '*WIZYAKUZA': 1,
 '4056': 1,
 '5971': 1,
 '9979': 1,
 'AMAZON.COM*G80F54AL3': 1,
 'SWEETGREEN': 1,
 '5TH': 1,
 '+': 1,
 'GRAN': 1,
 '601': 1,
 'W.': 1,
 '5th': 1,
 '01/17/23': 1,
 '01/15/23': 1,
 '6630': 1,
 '01/13/23': 1,
 '7654': 1,
 '12/12/22': 1,
 '3945': 1,
 'DDF': 1,
 'DXB': 1,
 'AE': 1,
 '48060': 1,
 'MCDONALDS-DXB': 1,
 '0325': 1,
 '2753': 1,
 '6924': 1,
 '12/06/22': 1,
 '4109': 1,
 '12/04/22': 1,
 '0313': 1,
 '11/30/22': 1,
 '9115': 1,
 'STOR': 1,
 '802': 1,
 '1854': 1,
 'AMAZON.COM*HW8LE8G10': 1,
 '2675': 1,
 '11/20/22': 1,
 '6913': 1,
 'ALPHALETE-US': 1,
 '826': 1,
 'SUMMER': 1,
 'DRIVE,': 1,
 'STA': 1,
 '0156': 1,
 'EMIRATES': 1,
 '55': 1,
 '59TH': 1,
 '5': 1,
 '11/16/22': 1,
 '6718': 1,
 '3026': 1,
 '#8': 1,
 '*RICE': 1,
 'BALLS': 1,
 'FIRE': 1,
 '18919': 1,
 'BALLINGER': 1,
 '11/18/22': 1,
 '3073': 1,
 '*BEIGNET': 1,
 '23477': 1,
 'Palm': 1,
 'Dr': 1,
 'Calab': 1,
 '11/17/22': 1,
 '1326': 1,
 '11/14/22': 1,
 '8549': 1,
 '11-11': 1,
 '6690': 1,
 '1646': 1,
 '11-09': 1,
 '0041': 1,
 '1263': 1,
 '11/01/22': 1,
 '4261': 1,
 '11/02/22': 1,
 '6920': 1,
 '8659': 1,
 '2226': 1,
 '1382': 1,
 '7068': 1,
 '0017': 1,
 '10/26/22': 1,
 '5467': 1,
 '10/25/22': 1,
 '2330': 1,
 '10/19/22': 1,
 '9902': 1,
 '10/18/22': 1,
 '6961': 1,
 '10/16/22': 1,
 '10/13/22': 1,
 '1633': 1,
 '10/11/22': 1,
 '8059': 1,
 '10/09/22': 1,
 '8584': 1,
 'AMAZON.COM*1K1MO8B60': 1,
 'AMAZON.COM*1K1QF1GN1': 1,
 '4717': 1,
 '8929': 1,
 '2859': 1,
 '0423': 1,
 '10/05/22': 1,
 '7647': 1,
 '3104': 1,
 '4745': 1,
 '4195': 1,
 '4613': 1,
 'AMAZON.COM*141EB51V0': 1,
 'THU': 1,
 '9PM': 1,
 '09/30/22': 1,
 '8616': 1,
 '09/29/22': 1,
 '1265': 1,
 'AMAZON.COM*149XS5LO1': 1,
 '09/28/22': 1,
 '3666': 1,
 'AUTO': 1,
 'PARKS': 1,
 'OLIVE': 1,
 '4031': 1,
 '7774': 1,
 '7228': 1,
 'SIXT': 1,
 'RENT': 1,
 'CAR': 1,
 '990': 1,
 '8TH': 1,
 '9975': 1,
 '3355': 1,
 'FRATELLI': 1,
 '7200': 1,
 '9304': 1,
 'GREENLEAF': 1,
 'Jefferson': 1,
 '3346': 1,
 '83212': 1,
 '3400': 1,
 'GREEK': 1,
 'THEATRE': 1,
 '3935': 1,
 '4375': 1,
 '7262': 1,
 '1124': 1,
 '0903': 1,
 '0166': 1,
 'CIRCLE': 1,
 '09440': 1,
 'SAFETY': 1,
 '13420': 1,
 'BEACH': 1,
 'AVENUE': 1,
 'MARINA': 1,
 'DEL': 1,
 'RE': 1,
 'Polo': 1,
 'Factory': 1,
 'Store': 1,
 'Com': 1,
 'Citadel': 1,
 'Drive': 1,
 '27022': 1,
 'RUBYS': 1,
 'DINER': 1,
 'DR.': 1,
 'STE.': 1,
 '9808': 1,
 'ONEDIN': 1,
 '364': 1,
 'BEVERLY': 1,
 '81': 1,
 '3147': 1,
 '3154': 1,
 'GAP': 1,
 'OUTLET': 1,
 '1057': 1,
 'COMMERCE': 1,
 'AXS.COMACE': 1,
 'HOTEL': 1,
 '425': 1,
 '11TH': 1,
 '8889297': 1,
 '7195': 1,
 '7922': 1,
 '05881': 1,
 '350': 1,
 '3532': 1,
 'ATHENA': 1,
 '308': 1,
 'HILL': 1,
 '5974': 1,
 'WALGREENS': 1,
 '6801': 1,
 'HOLLYWO': 1,
 'MARSHALLS': 1,
 '#1240': 1,
 '4669': 1,
 'WAL-MART': 1,
 '#3180': 1,
 '4651': 1,
 '*SALT': 1,
 'STRAW': 1,
 '39': 1,
 'Pasade': 1,
 '4310': 1,
 'RC': 1,
 'UNIVERSA': 1,
 '3028': 1,
 'PARKWHIZ,': 1,
 '208': 1,
 '#403': 1,
 '2646': 1,
 '4569': 1,
 'SARITAS': 1,
 'PUPUSERIA': 1,
 '3915': 1,
 'TRANSPORTATION': 1,
 'ADM': 1,
 '4789': 1,
 'PANDA': 1,
 'EXPRESS': 1,
 '09/21/22': 1,
 '5932': 1,
 '*G&B': 1,
 'COFFEE,': 1,
 '0367': 1,
 '09-21': 1,
 '5451': 1,
 '9364': 1,
 '0700': 1,
 '*ANGELS': 1,
 'FLIGHT': 1,
 'DEVE': 1,
 '351': 1,
 'Hill': 1,
 'Stre': 1,
 '1218': 1,
 'SC': 1,
 'CARTS': 1,
 'MINIONS': 1,
 '09/20/22': 1,
 '2316': 1,
 '09/19/22': 1,
 '4699': 1,
 '09/18/22': 1,
 '0793': 1,
 'AMAZON.COM*1M65182B1': 1,
 '3262': 1,
 'PACPARK': 1,
 'BEV': 1,
 '380': 1,
 'PIER': 1,
 '0054': 1,
 'INNOVATIVE': 1,
 'FOTO': 1,
 '8A': 1,
 'INDUSTRAIL': 1,
 'SALEM': 1,
 'NH': 1,
 '8190': 1,
 '7994': 1,
 '4663': 1,
 'AMAZON.COM*1F4XA8QJ1': 1,
 '1438': 1,
 '3054': 1,
 'RIDES': 1,
 '09-01': 1,
 '09/02/22': 1,
 '4937': 1,
 '08/31/22': 1,
 '09/01/22': 1,
 '08/29/22': 1,
 '6700': 1,
 'SPIRIT': 1,
 'AI': 1,
 '2800': 1,
 'EXECUTIVE': 1,
 'MIRAMAR': 1,
 '3260': 1,
 '#70': 1,
 '08/23/22': 1,
 '3867': 1,
 '23RDSTREE': 1,
 '2773': 1,
 '08/20/22': 1,
 '7255': 1,
 '8520': 1,
 '5420': 1,
 'Overdrawn': 1,
 'In': 1,
 'the': 1,
 'amount': 1,
 '$20,309.14': 1,
 'RETURN': 1,
 'MAIL': 1,
 '08/16/22': 1,
 '7731': 1,
 '08/15/22': 1,
 '1238': 1,
 '4389': 1,
 '5740': 1,
 'ULTA.COM': 1,
 '1135': 1,
 'ARBOR': 1,
 '8582': 1,
 'IL': 1,
 '0194': 1,
 '5977': 1,
 '08/11/22': 1,
 'CHECKOSCH': 1,
 '08/10/22': 1,
 '8949': 1,
 '08/09/22': 1,
 '1044': 1,
 'AGRACAFEW': 1,
 '08/08/22': 1,
 '9047': 1,
 '2648': 1,
 '3003': 1,
 '3': 1,
 'BROTHERS': 1,
 'BIKE': 1,
 'SHOP': 1,
 '08/03/22': 1,
 '6497': 1,
 '08/01/22': 1,
 '0115': 1,
 '7360': 1,
 '6614': 1,
 '07/30/22': 1,
 '7727': 1,
 '5130': 1,
 '07/28/22': 1,
 '0482': 1,
 '07/26/22': 1,
 '1069': 1,
 'SHAKESHAC': 1,
 '07/25/22': 1,
 '8560': 1,
 'Prime*PR54E3L63': 1,
 '07/23/22': 1,
 '0940': 1,
 '07/22/22': 1,
 '2434': 1,
 '07/19/22': 1,
 '07/18/22': 1,
 '0199': 1,
 '07/14/22': 1,
 '9021': 1,
 'PayUp*amazo': 1,
 '#26/1,': 1,
 'Brigade': 1,
 'Gateway,': 1,
 'Bangal': 1,
 '9285': 1,
 '5262': 1,
 '8648': 1,
 '1949': 1,
 'AMAZON.COM*JJ55A2U53': 1,
 '07-09': 1,
 '07/11/22': 1,
 '9961': 1,
 'WFA': 1,
 'FLOWERS': 1,
 'DMCC': 1,
 'CHECKOUT': 1,
 'MENA': 1,
 'FZ': 1,
 'DUBA': 1,
 '43721': 1,
 '5992': 1,
 '2235': 1,
 '07/10/22': 1,
 '2546': 1,
 '6826': 1,
 'CANCEL': 1,
 '07/08/22': 1,
 '6243': 1,
 '07/06/22': 1,
 '2097': 1,
 'AMAZON.COM*NU8TY03J3': 1,
 '07/04/22': 1,
 '0089': 1,
 'BOOKSTORE': 1,
 ...}

In [13]:
# Cleaning all descriptions and creating word embeddings for data

# Define a function for NLP data cleaning

def clean_text(text):

    # Convert words to lower case.
    text = text.lower()

    # Remove special characters and numbers. This also removes the dates 
    # which are not important in classifying expenses
    text = re.sub(r'[^\w\s]|https?://\S+|www\.\S+|https?:/\S+|[^\x00-\x7F]+|\d+', '', str(text).strip())
  
    # Tokenise 
    text_list = word_tokenize(text)

    # Remove stop words
    text_list = [word for word in text_list if word not in stopwords.words('english')]
    
    result = ' '.join(text_list)
    return result

In [14]:
text_raw = df['Description']
df['Description'] = df['Description'].apply(lambda x: clean_text(x))

In [17]:
# after cleaning
df['Description'].value_counts()

withdrawal debit card debit card venmo barrow street ny date                    70
withdrawal pos pos trader joes south hoover st los angeles ca                   68
withdrawal pos pos target store hoover st ste los angeles ca                    58
withdrawal pos pos trader jo trader joes los angeles ca                         33
withdrawal debit card debit card ralphs vermont ave date                        19
                                                                                ..
withdrawal pos pos marshalls firestone blvd south gate ca                        1
withdrawal pos pos walmart firestone blvd south gate ca                          1
withdrawal debit card debit card sq salt straw w colorado blvd pasade date       1
withdrawal debit card debit card ush parking rc universal city universa date     1
withdrawal pos pos dollar tr venice los angeles ca                               1
Name: Description, Length: 229, dtype: int64

In [18]:
# before training
text_raw.value_counts()

Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA                                               29
Withdrawal POS #    POS TRADER JOE'S #250 3131 SOUTH HOOVER ST LOS ANGELES CA                              23
Withdrawal POS # POS TRADER JOE'S #250 3131 SOUTH HOOVER ST LOS ANGELES CA                                 19
Withdrawal POS #    POS TARGET ST 3131 S HOOVE LOS ANGELES CA                                              12
Withdrawal POS #    POS JH BAZAAR LOS ANGELES CA                                                           11
                                                                                                           ..
Withdrawal POS # POS PANDA EXPRESS UNIVERSAL CIT CA                                                         1
Withdrawal Debit Card Debit Card    USC TRANSPORTATION ADM 620 W 35TH ST LOS A Date 09/22/22 5022  4789     1
Withdrawal Debit Card Debit Card SARITAS PUPUSERIA 317 S BROADWAY LOS ANGEL Date 09/22/22 3915  5814        1
Withdrawal Debit Card Debit Card    VENMO *UBER 7700 EASTPORT PARKWAY 85581244 Date 09/22/22 4569  4121     1
Withdrawal POS #081113200526    POS DOLLAR TR 2053 VENICE LOS ANGELES CA                                    1
Name: Description, Length: 550, dtype: int64

In [20]:
for i in range(0,20):
    print(text_raw.iloc[i])
    print(df['Description'].iloc[i])
    print("\n")

Withdrawal POS # POS TRADER JO TRADER JOES LOS ANGELES CA
withdrawal pos pos trader jo trader joes los angeles ca


Withdrawal Debit Card Debit Card    DD DOORDASH DASHMART 303 2ND STREET 855973 Date 04/25/23 8292  5812
withdrawal debit card debit card dd doordash dashmart nd street date


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
withdrawal pos pos trader jo trader joes los angeles ca


Withdrawal POS #    POS TARGET ST 3131 S HOOVE LOS ANGELES CA
withdrawal pos pos target st hoove los angeles ca


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
withdrawal pos pos trader jo trader joes los angeles ca


Withdrawal Debit Card Debit Card    DOMINO'S 7801 2803 S FIGUEROA ST LOS ANGEL Date 04/22/23 0152  5814
withdrawal debit card debit card dominos figueroa st los angel date


Withdrawal Debit Card Debit Card    VENMO 117 BARROW STREET NEW YORK NY    Date 04/23/23 0328  4829
withdrawal debit card debit card venmo barrow street new york ny date


Withdrawal Debit Card Debit Card    CMSVEND*USC 3434 S GRAND AVE STE 12 LOS AN Date 04/21/23 7811  5814
withdrawal debit card debit card cmsvendusc grand ave ste los date


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
withdrawal pos pos trader jo trader joes los angeles ca


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
withdrawal pos pos trader jo trader joes los angeles ca


Withdrawal POS #    POS TARGET STORE T3217 3131 S HOOVER ST    STE 19 LOS ANGELES CA
withdrawal pos pos target store hoover st ste los angeles ca


Withdrawal Debit Card Debit Card    CMSVEND*USC 3434 S GRAND AVE STE 12 LOS AN Date 04/19/23 7506  5814
withdrawal debit card debit card cmsvendusc grand ave ste los date


Withdrawal Debit Card Debit Card    CMSVEND*USC 3434 S GRAND AVE STE 12 LOS AN Date 04/17/23 1946  5814
withdrawal debit card debit card cmsvendusc grand ave ste los date


Withdrawal ACH UNIV OF SO CAL    TYPE: PAYMENT CO: UNIV OF SO CAL    NAME: VEDAANTI BALIGA
withdrawal ach univ cal type payment co univ cal name vedaanti baliga


Withdrawal Debit Card Debit Card    DD DOORDASH PANDAEXPR 303 2ND STREET 85597 Date 04/17/23 4124  5812
withdrawal debit card debit card dd doordash pandaexpr nd street date


Withdrawal Debit Card Debit Card    RALPHS #0294 2600 S VERMONT AVE LOS ANGELE Date 04/13/23 9002  5411
withdrawal debit card debit card ralphs vermont ave los angele date


Withdrawal Debit Card Debit Card    VENMO *SHEIN 7700 EASTPORT PARKWAY 8558124 Date 04/13/23 7125  5621
withdrawal debit card debit card venmo shein eastport parkway date


Withdrawal POS #    POS AMAZON.COM*HJ4WP1WQ0 SEATTLE WA
withdrawal pos pos amazoncomhjwpwq seattle wa


Withdrawal POS #    POS TARGET ST 3131 S HOOVE LOS ANGELES CA
withdrawal pos pos target st hoove los angeles ca


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
withdrawal pos pos trader jo trader joes los angeles ca

In [21]:
word_count(df['Description'])

{'debit': 782,
 'card': 782,
 'withdrawal': 686,
 'pos': 520,
 'date': 391,
 'los': 286,
 'ca': 246,
 'st': 245,
 'angeles': 242,
 'hoover': 154,
 'trader': 136,
 'venmo': 136,
 'street': 106,
 'joes': 104,
 'target': 90,
 'store': 81,
 'south': 81,
 'ste': 78,
 'ny': 72,
 'barrow': 71,
 'ave': 58,
 'figueroa': 46,
 'w': 44,
 'parkway': 42,
 'univ': 41,
 'cal': 41,
 'eastport': 40,
 'doordash': 39,
 'jo': 33,
 'nd': 32,
 'uber': 31,
 'vermont': 28,
 'dd': 27,
 'th': 26,
 'usc': 26,
 'mobile': 26,
 'payment': 25,
 'seattle': 25,
 'wa': 25,
 'ralphs': 24,
 'ach': 22,
 'type': 22,
 'co': 22,
 'san': 22,
 'blvd': 21,
 'wash': 21,
 'kiosk': 21,
 'lyft': 21,
 'merchandse': 21,
 'mrt': 21,
 'pl': 21,
 'dominos': 19,
 'sq': 19,
 'unit': 17,
 'angel': 14,
 'n': 14,
 'jh': 13,
 'bazaar': 13,
 'hoove': 12,
 'name': 12,
 'vedaanti': 12,
 'baliga': 12,
 'berry': 12,
 'wingstop': 12,
 'shein': 10,
 'tst': 10,
 'dieg': 10,
 'trousdale': 10,
 'ride': 9,
 'pkwy': 9,
 'universal': 9,
 'inc': 9,
 'amazon': 8,
 'terry': 8,
 'amz': 8,
 'c': 8,
 'atm': 8,
 'diego': 8,
 'la': 8,
 'pandaexpr': 7,
 'us': 7,
 'ticket': 7,
 'subway': 7,
 'gateway': 7,
 'grand': 6,
 'l': 6,
 'mcclintock': 6,
 'dollar': 6,
 'tr': 6,
 'eats': 6,
 'plz': 6,
 'hospitality': 6,
 'retail': 6,
 'k': 5,
 'regal': 5,
 'broadway': 5,
 'e': 5,
 'recurring': 5,
 'cafe': 5,
 'jefferson': 5,
 'village': 5,
 'pico': 5,
 'metro': 5,
 'bill': 5,
 'bp': 5,
 'amazoncom': 5,
 'cinemas': 4,
 'wilshire': 4,
 'verm': 4,
 'credit': 4,
 'union': 4,
 'fl': 4,
 'dr': 4,
 'ang': 4,
 'olympic': 4,
 'gate': 4,
 'ush': 4,
 'city': 4,
 'santa': 4,
 'way': 4,
 'dulce': 4,
 'av': 4,
 'tap': 4,
 'web': 4,
 'sal': 4,
 'ms': 4,
 'pacific': 4,
 'coast': 4,
 'hwy': 4,
 'streetsuite': 4,
 'cmsvendusc': 3,
 'speed': 3,
 'torrance': 3,
 'mcdonalds': 3,
 'dubai': 3,
 'intl': 3,
 'park': 3,
 'drive': 3,
 'pm': 3,
 'blount': 3,
 'citadel': 3,
 'cheesecake': 3,
 'blaze': 3,
 'pizza': 3,
 'starbucks': 3,
 'cit': 3,
 'lucky': 3,
 'food': 3,
 'monica': 3,
 'american': 3,
 'amon': 3,
 'carter': 3,
 'rock': 3,
 'reillys': 3,
 'mint': 3,
 'scenic': 3,
 'new': 2,
 'york': 2,
 'laundry': 2,
 'torranc': 2,
 'trojans': 2,
 'housing': 2,
 'ap': 2,
 'shared': 2,
 'branch': 2,
 'zelle': 2,
 'aditya': 2,
 'market': 2,
 'airport': 2,
 'apple': 2,
 'sp': 2,
 'box': 2,
 'tue': 2,
 'officereta': 2,
 'supercuts': 2,
 'melrose': 2,
 'yard': 2,
 'house': 2,
 'northern': 2,
 'str': 2,
 'link': 2,
 'scooters': 2,
 'hamilton': 2,
 'cambridge': 2,
 'alcoa': 2,
 'vern': 2,
 'colorado': 2,
 'parking': 2,
 'hill': 2,
 'firestone': 2,
 'bird': 2,
 'stre': 2,
 'ticketing': 2,
 'ecomm': 2,
 'yogurtland': 2,
 'ange': 2,
 'fee': 2,
 'llc': 2,
 'metrolink': 2,
 'bottega': 2,
 'louie': 2,
 'rentals': 2,
 'fr': 2,
 'glendale': 2,
 'ross': 2,
 'stores': 2,
 'grove': 2,
 'grill': 2,
 'rd': 2,
 'verifybank': 2,
 'dashmart': 1,
 'angele': 1,
 'amazoncomhjwpwq': 1,
 'amazoncomhjxibc': 1,
 'amazoncomhjzgn': 1,
 'torr': 1,
 'padd': 1,
 'supe': 1,
 'disneyland': 1,
 'tickets': 1,
 'harbor': 1,
 'uscis': 1,
 'massachusetts': 1,
 'californi': 1,
 'primehyorl': 1,
 'herff': 1,
 'jones': 1,
 'kfc': 1,
 'amazoncomhdprt': 1,
 'bxcepkd': 1,
 'rbncpkd': 1,
 'amazoncomhrpc': 1,
 'thedollyl': 1,
 'anjappar': 1,
 'chettinad': 1,
 'artesi': 1,
 'pioneer': 1,
 'artesia': 1,
 'sulekha': 1,
 'bch': 1,
 'bldg': 1,
 'thai': 1,
 'trio': 1,
 'amazoncomhhmm': 1,
 'primehdsvxc': 1,
 'mon': 1,
 'ic': 1,
 'downtow': 1,
 'amazoncomjolbai': 1,
 'primeiulip': 1,
 'amazoncomxikd': 1,
 'primefkadih': 1,
 'amazoncomqdfy': 1,
 'wizyakuza': 1,
 'amazoncomgfal': 1,
 'sweetgreen': 1,
 'gran': 1,
 'ddf': 1,
 'dxb': 1,
 'ae': 1,
 'mcdonaldsdxb': 1,
 'stor': 1,
 'amazoncomhwleg': 1,
 'alphaleteus': 1,
 'summer': 1,
 'sta': 1,
 'emirates': 1,
 'rice': 1,
 'balls': 1,
 'fire': 1,
 'ballinger': 1,
 'beignet': 1,
 'palm': 1,
 'calab': 1,
 'amazoncomkmob': 1,
 'amazoncomkqfgn': 1,
 'amazoncomebv': 1,
 'thu': 1,
 'amazoncomxslo': 1,
 'auto': 1,
 'parks': 1,
 'olive': 1,
 'sixt': 1,
 'rent': 1,
 'car': 1,
 'fratelli': 1,
 'greenleaf': 1,
 'greek': 1,
 'theatre': 1,
 'circle': 1,
 'safety': 1,
 'beach': 1,
 'avenue': 1,
 'marina': 1,
 'del': 1,
 'polo': 1,
 'factory': 1,
 'com': 1,
 'rubys': 1,
 'diner': 1,
 'onedin': 1,
 'beverly': 1,
 'gap': 1,
 'outlet': 1,
 'commerce': 1,
 'axscomace': 1,
 'hotel': 1,
 'athena': 1,
 'walgreens': 1,
 'hollywo': 1,
 'marshalls': 1,
 'walmart': 1,
 'salt': 1,
 'straw': 1,
 'pasade': 1,
 'rc': 1,
 'universa': 1,
 'parkwhiz': 1,
 'saritas': 1,
 'pupuseria': 1,
 'transportation': 1,
 'adm': 1,
 'panda': 1,
 'express': 1,
 'gb': 1,
 'coffee': 1,
 'angels': 1,
 'flight': 1,
 'deve': 1,
 'sc': 1,
 'carts': 1,
 'minions': 1,
 'amazoncommb': 1,
 'pacpark': 1,
 'bev': 1,
 'pier': 1,
 'innovative': 1,
 'foto': 1,
 'industrail': 1,
 'salem': 1,
 'nh': 1,
 'amazoncomfxaqj': 1,
 'rides': 1,
 'spirit': 1,
 'ai': 1,
 'executive': 1,
 'miramar': 1,
 'rdstree': 1,
 'overdrawn': 1,
 'amount': 1,
 'return': 1,
 'mail': 1,
 'ultacom': 1,
 'arbor': 1,
 'il': 1,
 'checkosch': 1,
 'agracafew': 1,
 'brothers': 1,
 'bike': 1,
 'shop': 1,
 'shakeshac': 1,
 'primeprel': 1,
 'payupamazo': 1,
 'brigade': 1,
 'bangal': 1,
 'amazoncomjjau': 1,
 'wfa': 1,
 'flowers': 1,
 'dmcc': 1,
 'checkout': 1,
 'mena': 1,
 'fz': 1,
 'duba': 1,
 'cancel': 1,
 'amazoncomnutyj': 1,
 'bookstore': 1,
 'childs': 1,
 'amazoncomywbjf': 1,
 'amazoncombddk': 1,
 'trattoria': 1,
 'pie': 1,
 'forum': 1,
 'blues': 1,
 'riverside': 1,
 'artisan': 1,
 'imports': 1,
 'vfs': 1,
 'services': 1,
 'usa': 1,
 'amazoncomshexh': 1,
 'amazoncomevra': 1,
 'amazoncomcvav': 1,
 'samsungelectronics': 1,
 'challenger': 1,
 'road': 1,
 'ridgefield': 1,
 'pa': 1,
 'nj': 1,
 'carlsjr': 1,
 'north': 1,
 'shore': 1,
 'po': 1,
 'fawnskin': 1,
 'greco': 1,
 'snewyorkpizzeria': 1,
 'hollywood': 1,
 'better': 1,
 'sex': 1,
 'lo': 1,
 'chocolate': 1,
 'bash': 1,
 'spectrum': 1,
 'center': 1,
 'counter': 1,
 'live': 1,
 'boule': 1,
 'chalice': 1,
 'arroyo': 1,
 'parkwa': 1,
 'pas': 1,
 'bath': 1,
 'body': 1,
 'works': 1,
 'galleria': 1,
 'primeqhgq': 1,
 'kinokuniya': 1,
 'book': 1,
 'hoo': 1,
 'primeeri': 1,
 'jjmersww': 1,
 'amazoncomnxcp': 1,
 'hogshead': 1,
 'pub': 1,
 'uo': 1,
 'cty': 1,
 'anita': 1,
 'baldwin': 1,
 'primeivpma': 1,
 'chipotle': 1,
 'blv': 1,
 'beve': 1,
 'strike': 1,
 'applecombill': 1,
 'one': 1,
 'memorial': 1,
 'coliseum': 1,
 'honeybird': 1,
 'red': 1,
 'restaurant': 1,
 'ocean': 1,
 'sa': 1,
 'carlos': 1,
 'bakery': 1,
 'bo': 1,
 'fedex': 1,
 'airways': 1,
 'memphis': 1,
 'education': 1,
 'bristol': 1,
 'napa': 1,
 'farms': 1,
 'tg': 1,
 'sfo': 1,
 'terarea': 1,
 'g': 1,
 'freshen': 1,
 'ram': 1,
 'lane': 1,
 'mateo': 1,
 'pampas': 1,
 'nordstrom': 1,
 'wahlburgers': 1,
 'ooizesp': 1,
 'amazoncomte': 1,
 'fakdesbgbc': 1,
 'amazoncompnehr': 1,
 'tlpjcqu': 1,
 'amazoncombxhx': 1,
 'student': 1,
 'health': 1,
 'ser': 1,
 'el': 1,
 'huero': 1,
 'fast': 1,
 'cor': 1,
 'doordashpapa': 1,
 'johns': 1,
 'pi': 1,
 'pasta': 1,
 'roma': 1,
 'doordashfatburger': 1,
 'doordashjack': 1,
 'b': 1,
 'spudnuts': 1,
 'donuts': 1,
 'cup': 1,
 'joy': 1,
 'fat': 1,
 'burger': 1,
 'doordashburger': 1,
 'king': 1,
 'poke': 1,
 'hm': 1,
 'ates': 1,
 'amazoncomj': 1,
 'tcebbbp': 1,
 'amazoncomnbq': 1,
 'chickfila': 1,
 'california': 1,
 'hot': 1,
 'chi': 1,
 'cava': 1,
 'venice': 1}

In [23]:
def replace_words_not_relevant(text):
    # remove words that are not needed or not relevant in the description
    text = text.replace('withdrawal debit card debit card','')
    text = re.sub(r'(\b)pos(\b)', r'\1\2', text)
    text = re.sub(r'(\b)date(\b)', r'\1\2', text)
    text = re.sub(r'(\b)withdrawal(\b)', r'\1\2', text)
    text = re.sub(r'(\b)los(\b)', r'\1\2', text)
    text = re.sub(r'(\b)ca(\b)', r'\1\2', text)
    text = re.sub(r'(\b)angeles(\b)', r'\1\2', text)
    text = re.sub(r'(\b)hoover(\b)', r'\1\2', text)
    text = re.sub(r'(\b)south(\b)', r'\1\2', text)
    text = re.sub(r'(\b)ste(\b)', r'\1\2', text)
    text = re.sub(r'(\b)ny(\b)', r'\1\2', text)
    text = re.sub(r'(\b)barrow(\b)', r'\1\2', text)
    text = re.sub(r'(\b)ave(\b)', r'\1\2', text)
    text = re.sub(r'(\b)figueroa(\b)', r'\1\2', text)
    text = re.sub(r'(\b)w(\b)', r'\1\2', text)
    text = re.sub(r'(\b)nd(\b)', r'\1\2', text)
    text = re.sub(r'(\b)dd(\b)', r'\1\2', text)
    text = re.sub(r'(\b)type(\b)', r'\1\2', text)
    text = re.sub(r'(\b)co(\b)', r'\1\2', text)
    text = re.sub(r'(\b)san(\b)', r'\1\2', text)
    text = re.sub(r'(\b)blvd(\b)', r'\1\2', text)
    text = re.sub(r'(\b)eastport(\b)', r'\1\2', text)
    text = re.sub(r'(\b)st(\b)', r'\1\2', text)
    text = re.sub(r'(\b)th(\b)', r'\1\2', text)
    text = re.sub(r'(\b)wa(\b)', r'\1\2', text)
    text = re.sub(r'(\b)vedaanti baliga(\b)', r'\1\2', text)
    return text

In [24]:
text_before_removal = df['Description']
df['Description'] = df['Description'].apply(lambda x: replace_words_not_relevant(x))

In [25]:
# before cleaning
text_before_removal.value_counts()

withdrawal debit card debit card venmo barrow street ny date                    70
withdrawal pos pos trader joes south hoover st los angeles ca                   68
withdrawal pos pos target store hoover st ste los angeles ca                    58
withdrawal pos pos trader jo trader joes los angeles ca                         33
withdrawal debit card debit card ralphs vermont ave date                        19
                                                                                ..
withdrawal pos pos marshalls firestone blvd south gate ca                        1
withdrawal pos pos walmart firestone blvd south gate ca                          1
withdrawal debit card debit card sq salt straw w colorado blvd pasade date       1
withdrawal debit card debit card ush parking rc universal city universa date     1
withdrawal pos pos dollar tr venice los angeles ca                               1
Name: Description, Length: 229, dtype: int64

In [26]:
# after cleaning
df['Description'].value_counts()

 venmo  street                        70
   trader joes                        68
   target store                       58
   trader jo trader joes              33
 ralphs vermont                       19
                                      ..
 usc transportation adm                1
   panda express universal cit         1
 sq gb coffee grand broadway           1
 sq angels flight deve  hill stre      1
   dollar tr venice                    1
Name: Description, Length: 226, dtype: int64

In [27]:
for i in range(0,20):
    print(text_raw.iloc[i])
    print(df['Description'].iloc[i])
    print("\n")

Withdrawal POS # POS TRADER JO TRADER JOES LOS ANGELES CA
   trader jo trader joes


Withdrawal Debit Card Debit Card    DD DOORDASH DASHMART 303 2ND STREET 855973 Date 04/25/23 8292  5812
  doordash dashmart  street


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
   trader jo trader joes


Withdrawal POS #    POS TARGET ST 3131 S HOOVE LOS ANGELES CA
   target  hoove


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
   trader jo trader joes


Withdrawal Debit Card Debit Card    DOMINO'S 7801 2803 S FIGUEROA ST LOS ANGEL Date 04/22/23 0152  5814
 dominos    angel


Withdrawal Debit Card Debit Card    VENMO 117 BARROW STREET NEW YORK NY    Date 04/23/23 0328  4829
 venmo  street new york


Withdrawal Debit Card Debit Card    CMSVEND*USC 3434 S GRAND AVE STE 12 LOS AN Date 04/21/23 7811  5814
 cmsvendusc grand


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
   trader jo trader joes


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
   trader jo trader joes


Withdrawal POS #    POS TARGET STORE T3217 3131 S HOOVER ST    STE 19 LOS ANGELES CA
   target store


Withdrawal Debit Card Debit Card    CMSVEND*USC 3434 S GRAND AVE STE 12 LOS AN Date 04/19/23 7506  5814
 cmsvendusc grand


Withdrawal Debit Card Debit Card    CMSVEND*USC 3434 S GRAND AVE STE 12 LOS AN Date 04/17/23 1946  5814
 cmsvendusc grand


Withdrawal ACH UNIV OF SO CAL    TYPE: PAYMENT CO: UNIV OF SO CAL    NAME: VEDAANTI BALIGA
 ach univ cal  payment  univ cal name


Withdrawal Debit Card Debit Card    DD DOORDASH PANDAEXPR 303 2ND STREET 85597 Date 04/17/23 4124  5812
  doordash pandaexpr  street


Withdrawal Debit Card Debit Card    RALPHS #0294 2600 S VERMONT AVE LOS ANGELE Date 04/13/23 9002  5411
 ralphs vermont   angele


Withdrawal Debit Card Debit Card    VENMO *SHEIN 7700 EASTPORT PARKWAY 8558124 Date 04/13/23 7125  5621
 venmo shein  parkway


Withdrawal POS #    POS AMAZON.COM*HJ4WP1WQ0 SEATTLE WA
   amazoncomhjwpwq seattle


Withdrawal POS #    POS TARGET ST 3131 S HOOVE LOS ANGELES CA
   target  hoove


Withdrawal POS #    POS TRADER JO TRADER JOES LOS ANGELES CA
   trader jo trader joes

In [28]:
df.head()

,Posting Date,Transaction Type,Amount,Description,Transaction Category
0,4/28/2023,Debit,-20.48,trader jo trader joes,NaN
1,4/26/2023,Debit,-11.78,doordash dashmart street,NaN
2,4/25/2023,Debit,-5.99,trader jo trader joes,NaN
3,4/25/2023,Debit,-19.00,target hoove,Shopping & Groceries
4,4/24/2023,Debit,-9.05,trader jo trader joes,NaN

In [29]:
df.to_csv('cleaned_transaction_data.csv', index=False)